<header>
<h1 class="header-title">Jason Towne's Jazzy Tiger | WEB250</h1>
<nav>
<ul>
  <li><a href="index.html">Home</a></li> 

  <li>
  <a href="#">Assignments ▾</a>
  <ul class="dropdown">
  <li><a href="introduction.html">Introduction</a></li> 
  <li><a href="contract.html">Contract</a></li> 
  <li><a href="names.html">Names</a></li>
  <li><a href="fizzbuzz.html">FizzBuzz</a></li>
  <li><a href="businesscard.html">Business Card</a></li>
  </ul>
  </li>

  <li>
  <a href="#">Jazzy Tiger's Used Cars ▾</a>
  <ul class="dropdown">    
  <li><a href="https://jtowne.great-site.net/carapp/">Carapp 1</a></li>
  <li><a href="https://jtowne.great-site.net/carapp2/">Carapp 2</a></li>
  </ul>
  </li>

  <li>
    <a href="#">Site Version ▾</a>
    <ul class="dropdown">
      <li><a href="https://jtowne01.github.io/web250/">Static Page</a></li>
      <li><a href="https://jtowne.great-site.net/">Dynamic Page</a></li>
    </ul>
  </li>

  <li>
    <a href="#">External Pages ▾</a>
    <ul class="dropdown">
      <li><a href="https://jtowne.great-site.net/multipage_sites/superduper_php/">Super Duper PHP</a></li>
      <li><a href="https://jtowne.great-site.net/multipage_sites/superduper_static">Super Duper Static</a></li>
      <li><a href="https://jtowne.great-site.net/joy/">Joy of PHP</a></li>
      <li><a href="https://jtowne.great-site.net/joy/samsusedcars.html">Sam's Used Cars</a></li>
    </ul>
  </li>
</ul>
</nav>
</header>